{% extends "../common/base.html" %} {% block main %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-tag"></span>
                        <strong>特别声明</strong>
                    </h3>
                </div>
                <div class="panel-body" style="font-size:16px;">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3 class="text-center">免责声明</h3>
                            <p>用户一旦使用，即同意以下协议</p>
                            <p>因不可抗力因素照成服务不正常使用，不给予退款。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}