{% extends "../common/base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-tags"></span>
                        <strong>{{course}}</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 class="glyphicon glyphicon-bookmark">拆红包教程</h4>

                            <p style="margin-top: 15px; border-top: 1px dashed #bbbbbb">PS：向公众号回复“拆”，即可获得拆红包链接哦!</p>

                            <p style="margin-top: 15px; border-top: 1px dashed #bbbbbb">1.点击自己的拆红包链接，拆开发送给任意好友或文件传输助手</p>
                            <img  src="/image/teach/chai/1.jpg" class="img-responsive center-block" />

                            <p style="margin-top: 15px; border-top: 1px dashed #bbbbbb">2.长按拆红包链接先进行收藏</p>
                            <img  src="/image/teach/chai/2.jpg" class="img-responsive center-block" />

                            <p style="margin-top: 15px; border-top: 1px dashed #bbbbbb">3.再点击公众号对话框 + 号，选择收藏中的拆红包链接发送至公众号，等待公众号进行回复</p>
                            <img  src="/image/teach/chai/3.jpg" class="img-responsive center-block" />

                            <p style="margin-top: 15px; border-top: 1px dashed #bbbbbb">4.公众号提示操作成功，即可在饿了么中直接进行使用</p>
                            <img  src="/image/teach/chai/4.jpg" class="img-responsive center-block" />

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}