<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="帮点儿忙">
    <title>{{ title }}</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body  style="padding-top: 50px">
    <header class="navbar navbar-default navbar-fixed-top "  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">帮点儿忙</a>
            </div>

            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            新手教程 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">教程</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            充值 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">充值</a></li>
                            <li><a href="#">次数查询</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        关于我们 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">联系客服</a></li>
                            <li><a href="#">商业合作</a></li>
                            <li><a href="#">赞赏我们</a></li>
                            <li><a href="#">特别声明</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    <div id="important" style="color:#000000; background-color:#FFFFFF; margin:20px 0 20px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color:#000000; font-size:40px">帮点儿忙</h1>
                    <p style="font-size:18px;padding-bottom: 20px;">欢迎使用<strong>帮点儿忙</strong>，请记住我们的唯一官方网址：<a href="http://bdmer.cn">bdmer.cn</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-tag"></span>
                            <strong>公告</strong>
                        </h3>
                    </div>
                    <div class="panel-body" style="font-size:16px; height: 300px;">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>2018-12-4 微信公众号‘帮点儿忙’启动</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

<footer style="background-color:#ddd; padding: 20px 0;">
    <div class="text-center">
        Copyright © 2018-2020
        <strong><a href="http://bdmer.cn">帮点儿忙</a></strong>&nbsp;
        <strong><a href="http://bdmer.cn">bdmer.cn</a></strong> All Rights Reserved.
        <strong><a href="http://www.miitbeian.gov.cn/" target="_blank"> 备案号：浙ICP备18021614号-2</a></strong>
    </div>
</footer>

</body>